<h1 id="top_title">Welcome to the Home page</h1>
<div class="col-sm-5">
	<div class="well" id="top_question"> 
	   	<form class="form-horizontal" method="post" action="/post_question" id="question_form">
			<h4>Question?</h4>
		 	<div class="form-group" style="padding:14px;">
			  <textarea name = "question_input" class="form-control" placeholder="Place your question here"></textarea>
			</div>
			<button class="btn btn-primary pull-right" type="submit" id="post_button">Post</button>
	  	</form>
	</div>
</div>
<%= erb :"questions/all_questions", layout:false %>