<div class="input-group-btn voting_box">
	<button formaction="/up_vote" class="vote_buttons btn btn-default first_button"><img src = "/img/upvote.png" class = "vote_buttons"/></button>
	<h6 id = "vote_count">000</h6>
	<button formaction="/down_vote" class="vote_buttons btn btn-default second_button"><img src = "/img/downvote.png" class = "vote_buttons"/></button>
</div>